# MongoDB connection parameters
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_ROOT_USERNAME=testusername
MONGO_ROOT_PASSWORD=testpassword

# The host address should be resolvable from the host machine as well as from Docker containers.
# On a Linux host, you can add the following line to your /etc/hosts file:
#   127.0.0.1 liquidai.local
# On a Windows host, the hosts file is located at C:\Windows\System32\drivers\etc\hosts
# Shell command to add the entry on Linux:
#   echo "127.0.0.1 liquidai.local" | sudo tee -a /etc/hosts
HOST_ADDRESS=liquidai.local

# Public base URL for the orchestrator application.
ORCHESTRATOR_PUBLIC_HOST=http://${HOST_ADDRESS}
ORCHESTRATOR_PUBLIC_PORT=80

MONGO_EXPRESS_PORT=8081
MONGO_EXPRESS_ENABLE_ADMIN=false
MONGO_EXPRESS_BASICAUTH=false
MONGO_EXPRESS_USERNAME=test
MONGO_EXPRESS_PASSWORD=test

# Path to the folder where the initial configuration files are stored.
WASMIOT_INIT_FOLDER=/init

# Whether to clear the supervisor logs at startup.
WASMIOT_CLEAR_LOGS=true

# Set to true if you want to use a WebSocket for to provide real-time logging to clients.
WASMIOT_USE_WEB_SOCKETS=true

WASMIOT_ORCHESTRATOR_URL=${ORCHESTRATOR_PUBLIC_HOST}:${ORCHESTRATOR_PUBLIC_PORT}
WASMIOT_LOGGING_ENDPOINT=${WASMIOT_ORCHESTRATOR_URL}/device/logs

SUPERVISOR_PYTHON_DOCKER_NAME=supervisor-python-docker
SUPERVISOR_PYTHON_LOCAL_NAME=supervisor-python-local
SUPERVISOR_RUST_DOCKER_NAME=supervisor-rust-docker
SUPERVISOR_RUST_LOCAL_NAME=supervisor-rust-local

SUPERVISOR_PYTHON_DOCKER_PORT=5001
SUPERVISOR_PYTHON_LOCAL_PORT=5002
SUPERVISOR_RUST_DOCKER_PORT=6001
SUPERVISOR_RUST_LOCAL_PORT=6002

INTERNAL_NGINX_IP=172.20.0.2
INTERNAL_MDNS_REFLECTOR_IP=172.20.0.5
INTERNAL_MDNS_SERVER_IP=172.20.0.7
INTERNAL_ORCHESTRATOR_IP=172.20.0.10
INTERNAL_SUPERVISOR_PYTHON_IP=172.20.0.21
INTERNAL_SUPERVISOR_RUST_IP=172.20.0.31
